Solver/mct_direct/.vs/mct_direct/v16/.suo
Solver/mct_direct/.vs/mct_direct/v16/Browse.VC.db
Solver/mct_direct/.vs/mct_direct/v16/Browse.VC.db-shm
Solver/mct_direct/.vs/mct_direct/v16/Browse.VC.db-wal
Solver/mct_direct/.vs/mct_direct/v16/Browse.VC.opendb
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/2fea846ffc382fd9/DIRECTTASK.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/32e53760dca863a4/GAUSS.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/392ecb921e20ae5/MAIN.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/4b62476044cc78bc/TASK.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/4fba543f613a1183/GAUSS.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/7bcb6057ab3ebb5/TASK.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/892b7dadff97ed09/MAIN.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/97d8ef3f92db42d7/GAUSS.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/ad19ba18ff0bbe0a/GAUSS.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/c4afd2710a02ebf0/TASK.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/ddd4d6b6d26dfaee/MAIN.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/efe8ec15c3b77463/MAIN.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/f3c6073825b837f4/MAIN.ipch
Solver/mct_direct/Debug/directTask.obj
Solver/mct_direct/Debug/directtask.obj.enc
Solver/mct_direct/Debug/Gauss.obj
Solver/mct_direct/Debug/main.obj
Solver/mct_direct/Debug/mct_direct.exe
Solver/mct_direct/Debug/mct_direct.exe.recipe
Solver/mct_direct/Debug/mct_direct.ilk
Solver/mct_direct/Debug/mct_direct.log
Solver/mct_direct/Debug/mct_direct.pdb
Solver/mct_direct/Debug/mct_direct.vcxproj.FileListAbsolute.txt
Solver/mct_direct/Debug/task.obj
Solver/mct_direct/Debug/vc142.idb
Solver/mct_direct/Debug/vc142.pdb
Solver/mct_direct/Debug/mct_direct.tlog/CL.command.1.tlog
Solver/mct_direct/Debug/mct_direct.tlog/CL.read.1.tlog
Solver/mct_direct/Debug/mct_direct.tlog/CL.write.1.tlog
Solver/mct_direct/Debug/mct_direct.tlog/link.command.1.tlog
Solver/mct_direct/Debug/mct_direct.tlog/link.read.1.tlog
Solver/mct_direct/Debug/mct_direct.tlog/link.write.1.tlog
Solver/mct_direct/Debug/mct_direct.tlog/mct_direct.lastbuildstate
Solver/mct_direct/x64/Release/Gauss.obj
Solver/mct_direct/x64/Release/main.obj
Solver/mct_direct/x64/Release/mct_direct.exe
Solver/mct_direct/x64/Release/mct_direct.exe.recipe
Solver/mct_direct/x64/Release/mct_direct.iobj
Solver/mct_direct/x64/Release/mct_direct.ipdb
Solver/mct_direct/x64/Release/mct_direct.log
Solver/mct_direct/x64/Release/mct_direct.pdb
Solver/mct_direct/x64/Release/mct_direct.vcxproj.FileListAbsolute.txt
Solver/mct_direct/x64/Release/task.obj
Solver/mct_direct/x64/Release/vc142.pdb
Solver/mct_direct/x64/Release/mct_direct.tlog/CL.command.1.tlog
Solver/mct_direct/x64/Release/mct_direct.tlog/CL.read.1.tlog
Solver/mct_direct/x64/Release/mct_direct.tlog/CL.write.1.tlog
Solver/mct_direct/x64/Release/mct_direct.tlog/link.command.1.tlog
Solver/mct_direct/x64/Release/mct_direct.tlog/link.read.1.tlog
Solver/mct_direct/x64/Release/mct_direct.tlog/link.write.1.tlog
Solver/mct_direct/x64/Release/mct_direct.tlog/mct_direct.lastbuildstate
Solver/mct_direct/x64/Release/mct_direct.tlog/mct_direct.write.1u.tlog
Solver/mct_direct/x64/Debug/Gauss.obj
Solver/mct_direct/x64/Debug/main.obj
Solver/mct_direct/x64/Debug/mct_direct.exe
Solver/mct_direct/x64/Debug/mct_direct.exe.recipe
Solver/mct_direct/x64/Debug/mct_direct.ilk
Solver/mct_direct/x64/Debug/mct_direct.log
Solver/mct_direct/x64/Debug/mct_direct.pdb
Solver/mct_direct/x64/Debug/mct_direct.vcxproj.FileListAbsolute.txt
Solver/mct_direct/x64/Debug/task.obj
Solver/mct_direct/x64/Debug/vc142.idb
Solver/mct_direct/x64/Debug/vc142.pdb
Solver/mct_direct/x64/Debug/mct_direct.tlog/CL.command.1.tlog
Solver/mct_direct/x64/Debug/mct_direct.tlog/CL.read.1.tlog
Solver/mct_direct/x64/Debug/mct_direct.tlog/CL.write.1.tlog
Solver/mct_direct/x64/Debug/mct_direct.tlog/link.command.1.tlog
Solver/mct_direct/x64/Debug/mct_direct.tlog/link.read.1.tlog
Solver/mct_direct/x64/Debug/mct_direct.tlog/link.write.1.tlog
Solver/mct_direct/x64/Debug/mct_direct.tlog/mct_direct.lastbuildstate
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/354133e7a67b186/TASK.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/4ecf11ecaca1dba0/TASKWRAPPER.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/51bb54db510d027f/TASKWRAPPER.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/59b7591171e2212a/GAUSS.ipch
Solver/mct_direct/.vs/mct_direct/v16/ipch/AutoPCH/ce826e3f17fc52b9/TASKWRAPPER.ipch
Solver/mct_direct/x64/Debug/mct_direct.dll
Solver/mct_direct/x64/Debug/mct_direct.dll.recipe
Solver/mct_direct/x64/Debug/mct_direct.exp
Solver/mct_direct/x64/Debug/mct_direct.lib
Solver/mct_direct/x64/Debug/taskWrapper.obj
Solver/mct_direct/x64/Debug/mct_direct.tlog/link.16520.delete.1.tlog
Solver/mct_direct/x64/Debug/mct_direct.tlog/mct_direct.write.1u.tlog
Solver/mct_direct/x64/Release/mct_direct.dll
Solver/mct_direct/x64/Release/mct_direct.dll.recipe
Solver/mct_direct/x64/Release/mct_direct.exp
Solver/mct_direct/x64/Release/mct_direct.lib
Solver/mct_direct/x64/Release/taskWrapper.obj
Solver/mct_direct/x64/Debug/mct_direct.tlog/link.22880.delete.1.tlog
Solver/mct_direct/x64/Release/mct_direct.tlog/link.delete.1.tlog
Solver/mct_direct/Build/x64/Debug/mct_direct.dll
Solver/mct_direct/Build/x64/Debug/mct_direct.exe
Solver/mct_direct/Build/x64/Debug/mct_direct.exp
Solver/mct_direct/Build/x64/Debug/mct_direct.ilk
Solver/mct_direct/Build/x64/Debug/mct_direct.lib
Solver/mct_direct/Build/x64/Debug/mct_direct.pdb
Solver/mct_direct/x64/Debug/mct_direct.tlog/link.delete.1.tlog
